<form [formGroup]="suggForm">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" formControlName="title" />
  </div>

  <div *ngIf="title?.invalid && title?.touched">
    <span *ngIf="suggForm.controls['title'].errors?.['required']"> this field is required</span>
      <span *ngIf="suggForm.get('title')?.errors?.['minlength']"> this field must contains at least 5 caracters</span>
      <span *ngIf="title?.errors?.['pattern']"> this field must respect the pattern</span>

  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" formControlName="description" />
  </div>
  <div *ngIf="suggForm.controls['description']?.invalid && suggForm.controls['description']?.touched">
    <span *ngIf="suggForm.controls['description'].errors?.['required']"> this field is required</span>
      <span *ngIf="suggForm.get('description')?.errors?.['minlength']"> this field must contains at least 30 caracters</span>

  </div>
  <div class="mb-3">
    <label class="form-label">Category</label>
    <select class="form-select" formControlName="category">
      <option *ngFor="let cat of categories; let i = index" [value]="i">{{ cat }}</option>
    </select>
  </div>
   <div *ngIf="suggForm.controls['category']?.invalid && suggForm.controls['category']?.touched">
    <span *ngIf="suggForm.controls['category'].errors?.['required']"> this field is required</span>

  </div>
  <div class="mb-3">
    <label class="form-label">Status</label>
    <input type="text" class="form-control" formControlName="status" readonly />
  </div>
  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Date</label>
    <input
      type="text"
      id="disabledTextInput"
      class="form-control"
      formControlName="date"
      readonly
    />
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="suggForm.invalid">
    Submit
  </button>
</form>
