<div class="container">
  <div class="col-8">
    <h1>Liste de Suggestions</h1>

    <input type="text" [(ngModel)]="searchItem" />
    <a routerLink="./add">Add new Suggestion</a>
    <div class="card" *ngFor="let s of listfromback">
      <div class="card-header">
        {{ s.title }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ s.category }} -- {{ s.date }}</h5>
        <p class="card-text">{{ s.description }}</p>
        <h3 *ngIf="s.status == 'acceptee'" style="color: green">
          {{ s.status }}
        </h3>
        <h3 *ngIf="s.status == 'refusee'" style="color: red">{{ s.status }}</h3>
        <h3 *ngIf="s.status == 'en_attente'" style="color: orange">
          {{ s.status }}
        </h3>

        <button *ngIf="s.status == 'acceptee'" (click)="like(s)">
          Like {{ s.nbLikes }}
        </button>
        <button
          [hidden]="s.status == 'refusee' || s.status == 'en_attente'"
          (click)="addToFavorite(s)"
        >
          Add to favorite
        </button>

        <!-- solution 1 -->
        <!-- <a routerLink="/suggestion/{{s.id}}">more details</a> -->

        <a [routerLink]="['./', s.id]">more details</a>
      </div>
    </div>

    <h1>Favorites List</h1>

    <div>
      <ul>
        <li *ngFor="let f of favoriteList">
          {{ f.title }} --- {{ f.date | date }}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <h4>Détails d'une suggestion</h4>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
